
.jumbotron {
    background-image: url(organize.jpg);
    background-attachment: fixed;
    background-size: cover;
}

h2 {
    color: blue;
    font-family: 'Montserrat', sans-serif;
}

.titlebig {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: darkblue;
}

.title {
    font-weight: bold;
    color: black;
}
